body {
  width: 100vw;
  height: 10px;
  margin: 0;
  background: #ffe60024;
  font-family: monospace;
}

* {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1px;
  align-items: center;
  font-size: medium;
  position: relative;
  margin-bottom: 0;
}

.logo {
  color: rgb(126, 100, 66);
  font-size: xx-large;
  letter-spacing: 10px;
  margin-left: 3px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  margin-left: 4%;
  margin-right: 50%;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  margin: auto;
  width: 50%;
}

header button {
  padding: 0.5rem 0.1rem;
  border: none;
  font-weight: 600;
  margin: 5px;
  cursor: pointer;
  border-radius: 2px;
  background-color: transparent;
  font-size: medium;
  text-decoration: underline;
  align-items: flex-end;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-left: 10px;
}

.name {
  display: flex;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: xx-large;
}

main {
  color: aliceblue;
  line-height: 30px;
  font-size: larger;
}

.introSubhead {
  color: tomato;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bolder;
  font-size: 2vw;
  line-height: 300%;
  margin-left: 10cap;
  margin-top: NONE;

  text-shadow: 
    -1px -1px 0 #c9a7a7,  
    1px -1px 0 hsl(36, 100%, 77%),
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.introSubhead p{
  background-blend-mode: color-burn;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: lighter;
  letter-spacing: 1px;
  color: beige;
  font-size: 100;
  justify-content: left;
  margin-left: cap;
  text-shadow: 
    -1px -1px 0 #c9a7a7,  
    1px -1px 0 hsl(36, 100%, 77%),
    -1px 1px 0 #000,
    1px 1px 0 #000; 
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.content {
  display: flex;
  align-items: center;
}

.image {
  margin: 200px 200px 200px;
}

.image img {
  max-width: none;
}

.section1 {
  width: 100%;
  min-height: 85vh;
  position: relative;
  background: url('../img/maloi3.png') no-repeat center center fixed;
  background-size: cover;
  
}

.section2 {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url('../img/maloixd.png') no-repeat center center fixed;
  background-size: cover;
}

.mytabs {
  display: flex;
  flex-wrap: wrap;
  max-width: 1500px;
  margin: auto;
  padding: 25px;
  margin-bottom: 450px;
}

.mytabs input[type="radio"] {
  display: none;
}

.mytabs label {
  color: hsla(0, 24%, 51%, 0.306);
  cursor: pointer;
  padding: 15px;
  background: #493592;
  font-weight: bold;
  border-radius: 10cap;
  margin-bottom: 10px;
  margin-left: 10px;
  text-shadow: 
  -1px -1px 0 #451d8600,  
  1px -1px 0 hsla(56, 89%, 32%, 0),
  -1px 1px 0 #ffee7de9,
  1px 1px 0 #000000;
}

.mytabs .tab {
  width: 100%;
  padding: 20px;
  order: 1;
  display: none;
  border-radius: 1cap;
  background: hsla(0, 86%, 36%, 0.4);
}

.mytabs .tab h2 {
  font-size: 3em;
  font-family: flagoriaCalintha;
  letter-spacing: 10px;
  color: #ff8400;
}

.mytabs input[type='radio']:checked + label + .tab {
  display: block;
}

.mytabs input[type="radio"]:checked + label {
  background: #af9797;
}


.tab p{
color: #ffe7ae;
}
.tab h3{
  color
}



.footer{
  height: 100%;
}

.footerGen {
  color: rgb(255, 187, 0);
  text-align: center;
  margin-top: none;
  font-size: large;
  flex-direction: row-reverse;
  text-size-adjust: initial;
  align-items: self-start;
  margin-bottom: auto;
  margin-top: 10px ;
  margin-bottom: 100px;
  margin-top: 10px;
  margin-bottom: 20px;

}

.note {
  margin-bottom: auto;
  margin-top: px;
  margin-bottom: px;
}

.tabContent {
  color: #f1cecea7;
  line-height-step: px;
  margin-top: 10px;
  justify-content: center;
  align-self: none;
  display: flex;
  flex-direction: column;
  font-size: xx-large;
  background-size: auto;
}

.AboutMeHeader {
  display: flex;
  justify-content: center;
  font-size: 200px;
  letter-spacing: none;
  align-items: center;
  height: 200px;
  font-family: TheBringa;
  text-shadow: 
  -1px -1px 0 #302c3732,  
  1px -1px 0 hsla(270, 43%, 36%, 0.119),
  -1px 1px 0 #00000000,
  1px 1px 0 #5e282800;  
  color: rgba(255, 255, 0, 0.408);
}

@font-face {
  font-family: TheBringa;
  src: url(https://www.dafont.com/the-bringa.font);
}

@font-face {
  font-family: flagoriaCalintha;
  src: url(https://www.dafont.com/flagoriacalintha.font);
}

@media only screen and (max-width: 768px) {
  .logo {
    font-size: large;
    letter-spacing: 5px;
    margin-left: 2%;
    margin-right: 10%;
  }
  
  nav {
    width: 80%;
  }

  header button {
    font-size: small;
    margin-left: 5px;
  }

  .introSubhead {
    font-size: 5vw;
    line-height: 150%;
    margin-left: 5%;
    margin-top: 100px;
  }

  .introMain {
    font-size: 80;
    line-height: 150%;
    margin-left: 2%;
    margin-bottom: 200px;
  }

  .image {
    margin-right: 50px;
  }

  .footerGen {
    font-size: medium;
  }

  .AboutMeHeader {
    font-size: 100px;
    height: 150px;
  }
}

