body{
    background-image: url(zild-peace-bg.png)
}
* {
    padding: 1;
    margin: 0;
  }

  header,
  header * {
    outline: 1px blue dashed;
  }

  header {
    display: flex;
    justify-content: space-around;
    padding: .3 rem 5vw 0;
    align-items: center;
  }

  header button {
    padding: .5 rem .1 rem;
    border: none;
    background: transparent;
    font-weight: 600;    
  }
  
  section.hero {
    display: flex;
    justify-content: center;
    align-items:safe;
    align-content: center;
    row-gap: 10px;




  }
